* {
  margin: 0;
  padding: 0;
}

#cabecalho {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: rgb(22, 25, 30);
  border: solid rgb(77, 77, 78) 1px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

#titulo {
  font-size: 30px;
  text-align: center;
}

#id {
  font-size: 15px;
  text-align: center;
}

header button {
  padding: 10px 35px;
  font-size: 15px;
}

#btn-home {
  background-color: rgba(51, 50, 50);
  color: white;
  border: solid white 1px;
  border-radius: 5px;
}

#btn-login {
  background-color: rgb(0, 145, 255);
  color: white;
  border: solid white 1px;
  border-radius: 5px;
}

body {
  background-color: rgb(253, 251, 251);
  padding-top: 60px;
}

#apresentação {
  margin: 10px;
  text-align: center;
  font-size: 60px;
}

#minha_foto {
  width: 350px;
}

.Perfil {
  padding-top: 40px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-image: linear-gradient(rgb(22, 25, 30), gray);
}

.colunas {
  display: flex;
  flex-direction: column;
}

.licoes {
  display: flex;
}

#licoes_aprendidas {
  padding: 1px 100px 20px 1px;
}

#licoes_a_aprender {
  padding: 1px 100px 20px 1px;
}

.article {
  display: flex;
  color: white;
  background-color: gray;
  padding: 10px;
}

.artigo {
  border: solid white 1px;
  padding: 20px;
  text-align: justify;
}

.artigo h2 {
  text-align: center;
  font-size: 40px;
  padding-bottom: 20px;
}

.sobre {
  padding: 1px 40px;
  text-align: justify;
  font-size: 20px;
}

#trybe_logo {
  width: 150px;
  padding-bottom: 40px;
}

footer {
  color: white;
  background-image: linear-gradient(gray, black);
  display: flex;
  justify-content: center;
  padding: 70px 5%;
}

footer a {
  text-decoration: none;
  color: white;
}

footer div ul {
  color: white;
  list-style-type: none;
  margin: auto 10px;
}

footer li {
  padding: 10px 20px;
  font-size: 15px;
}

footer div ul li:nth-child( 1 ) {
  padding-bottom: 20px;
  color: rgb(77, 77, 78);
}

footer div a {
  text-decoration: none;
  color: white;
}

.media {
  display: flex;
}

footer i {
  color: white;
  font-size: 30px;
  padding: 10px;
  text-align: center;
}
